.home{
    padding: 1em;
    margin-top: 20%;
}
.home__img {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    
}
.home__title{
    color: #FE1936;
    text-align: center;
    margin-bottom: 0.1em;
    font-size: 1.8rem;
}
.home__description{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2em;
}
.home__form{
    display: flex;
    justify-content: center;

}
.home__input{
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5em 0.8em;
    border-radius: 0.5em 0 0 0.5em;
    border: none;
    box-shadow: 0 0.1em 0.3em #0003;

}
.home__btn {
    font-size: 1rem;
    padding:0.5em 2em;
    box-shadow: 0 0.1em 0.3em #0003;
    background-color: #D93F3F;
    color: white;
    cursor: pointer;
    transition: filter 50ms ease;
}
.home__btn:hover {
    filter: brightness(1.1);
    box-shadow: 0 0.1em 0.3em #0005;
}
.boxAll{
    padding-top: 60%;
}
.header {
    display: flex;
    flex-direction: column-reverse;
    height:100px;
    background-color: #DD1A1A;
    position: relative;
    margin-bottom: 2.5em;
    padding-top: 20px;
}

.header__black {
    height:45px;
    width:100%;
    background-color: #0c0c0c;
    position: absolute;
    bottom:0;
}
.header__circle {
    display: flex;
    justify-content: center;
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    position:absolute;
    bottom: -15px;
    right: 10%;
    border:10px solid black

}
.header__circle-int{
    position: absolute;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #0c0c0c;
    left: 25%;
    bottom: 25%;
    transform: translate(-50%,);
}
@media screen and (min-width: 720px){

    .home__title {
        font-size: 2.5rem;
    }
    .home__description,
    .home__input,
    .home__btn{
        font-size: 1.2rem;
    }
}
.box__big {
position: absolute;
width: 1440px;
height: 123.18px;
left: 0px;
top:450px;
background: #DD1A1A;
}
.box__small {
    position: absolute;
    width: 1440px;
    height: 69px;
    left: 0px;
    top: 550px;
    
    background: #0C0C0C;
}
    
