.header {
    height:100px;
    background-color: #DD1A1A;
    position: relative;
    margin-bottom: 2.5em;
}
.header__img {
    position: absolute;
    width: 60%;
    max-width: 400px;
    z-index:1;
    left:10%;
    top:10px;
} 
.header__black {
    height:45px;
    width:100%;
    background-color: #0c0c0c;
    position: absolute;
    bottom:0;
}
.header__circle {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    position:absolute;
    bottom: -15px;
    right: 10%;
    border:10px solid black

}
.header__circle-int{
    position: absolute;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #0c0c0c;
    left: 50%;
    transform: translate(-50%,);
}
.pokedex__title {
    font-size: 1.5rem;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 300;
    margin-bottom: 2em;
}
.pokedex__title-name {
    font-weight: 600;
    color:#FE1936

}
.btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.btn__button{
    font-size: 1.5rem;
    background-color: #DD1A1A;
    transition: transform 150ms ease;
    cursor: pointer;
}
.btn__button:hover{
    transform: scale(1.05);}

.pokedex__container-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}